@import "../_colors";
@import "../_mixins";
.post-card {
    color: #000;
    flex-basis: 33.33%;
    position: relative;
    &:hover {
        .post-card__image {
            transform: scale(1.3);
            filter: brightness(60%) blur(2px) brightness(80%) sepia(0.9);
            @include transition-time('moderate');
        }
    }
    @media only screen and (max-width: 800px) {
        flex-basis: 50%;
    }
    @media only screen and (max-width: 500px) {
        flex-basis: 100%;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: 200px;
        overflow: hidden;
    }
    &__image {
        min-width: 200px;
        width: 100%;
        transform: scale(2);
        filter: brightness(60%);
        @include transition-time('slow');
    }
    &__heading {
        z-index: 10;
        color: #fff;
        position: absolute;
        // margin: auto 0;
        display: flex;
        align-items: center;
        top: 0;
        bottom: 0;
        font-size: 2em;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
        font-family: serif;
        font-weight: normal;
        text-transform: uppercase;
    }
}