@import "../_colors";
@import "../mixins";
.post-page {
    &__relevant-posts {
        max-width: 500px;
        font-family: "Gelasio", sans-serif;
        margin-top: 2em;
        width: 230px;
        margin-left: 2em;
        @media only screen and (max-width: 1200px) {
            margin-left: 0;
            width: 90%;
            margin: 0 auto;
            max-width: 700px;
        }
        h2 {
            font-family: "Open Sans", sans-serif;
            // font-size: 2em;
            padding: 0.5em 0;
            margin-bottom: 0;
            border-bottom: none;
            text-align: center;
            background-color: $primary;
            color: $secondary;
            width: 100%;
            @include transition-time('');
        }
        &-list {
            display: flex;
            flex-direction: column;
            padding: 0;
            list-style-type: none;
            margin-top: 0;
        }
    }
    &__relevant-post {
        &-list-item {
            border: 1px solid $primary;
            &:not(:first-child) {
                border-top: none;
            }
            a {
                text-align: center;
                font-family: "Open Sans", sans-serif;
                color: $primary;
                text-decoration: none;
                font-size: 1.2em;
                padding: 1em 0;
                display: block;
                @include transition-time('');
                &:hover {
                    color: $secondary;
                    background-color: $primary;
                    @include transition-time('');
                }
            }
        }
    }
}

.light {
    .post-page {
        &__relevant-posts {
            h2 {
                background-color: $secondary;
                color: $primary;
            }
        }
        &__relevant-post {
            &-list-item {
                border-color: $secondary;
                a {
                    color: $secondary;
                    &:hover {
                        background-color: $secondary;
                        color: $primary;
                    }
                }
            }
        }
    }
}