@import url('https://fonts.googleapis.com/css?family=Cinzel|Gelasio|Open+Sans&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}