@import url('https://fonts.googleapis.com/css?family=Gelasio|Open+Sans|Pacifico&display=swap');
@import "./colors";
@import "./mixins";
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: $secondary;
    color: $primary;
    font-weight: normal;
    main {
        min-height: calc(100vh - 100px - 60px);
    }
    @include transition-time('');
    .main-header {
        &__theme-toggle {
            @include transition-time('');
            &-label {
                @include transition-time('');
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    &.light {
        background: #fff;
        color: $secondary;
        @include transition-time('');
        .main-header {
            background-color: $primary;
            &__link {
                &--item,
                &--logo {
                    color: $secondary;
                    &:hover {
                        color: #fff;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                        @include transition-time('');
                    }
                }
            }
        }
    }
    &.dark {
        .main-header {
            background-color: $tertiary;
            color: $primary;
            // border-bottom: 2px solid $primary;
            &__link {
                &--item,
                &--logo {
                    color: $primary;
                    &:hover {
                        color: #fff;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                        @include transition-time('');
                    }
                }
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}